<!DOCTYPE html>

<style>
  .error {
    color: red;
  }
  .success {
    color: green;
  }
</style>

<h1>{{title}}</h1>

<form method="post">
  <div>{{form.username.label}} {{form.username}}</div>
  <div>{{form.password.label}} {{form.password}}</div>
  <div>{{form.submit}}</div>
</form>

{% with messages=get_flashed_messages(with_categories=True) %} {% if messages %}
<ul>
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith%}
