<!DOCTYPE html>

<title>{{title}}</title>
<h1>{{title}}</h1>
<form>
<div>
    <div>
        <label id="email">Enter your email:</label>
        <input required>
    </div>
    <div>
    <label id="username">Enter a username:</label>
    <input type="email"></input>
</div>
<div>
    <label id="password">Enter a password:</label>
    <input type="Password"></input>
</div>
<div>
    <label>Confirm your password:</label>
    <input type="Password"></input>
</div>
<div>
    <button type="submit">Create your account</button>
</div>
</div>
</form>