<!DOCTYPE html>
<style>
  .error {
    color: red;
  }
  .success {
    color: green;
  }
</style>

<h1>{{title}}</h1>

<form method="post" novalidate>
  <p>{{form.email.label}} {{form.email(size=20)}}</p>
  <p>{{form.username.label}} {{form.username(size=20)}}</p>
  <p>{{form.password.label}} {{form.password(size=20)}}</p>
  <p>{{form.confirm_password.label}} {{form.confirm_password(size=20)}}</p>
  {{form.submit}}
</form>

{% with messages=get_flashed_messages(with_categories=True) %} {% if messages %}
<ul>
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith%}
